<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% if title %}
    <title>{{ title }} - SnippyShare</title>
  {% else %}
    <title>SnippyShare</title>
  {% endif %}

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
  </style>
  <script src="https://kit.fontawesome.com/021741cec3.js" crossorigin="anonymous"></script>
  {% block head %} {% endblock head%}
</head>
<body>
  <a style="text-decoration: none;" href="{{ url_for('index') }}"><h1 class="title">SnippyShare</h1></a>
  <div class="container">
    {% block body %} {% endblock body%}
  </div>
</body>
</html>
